<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappge202402.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d922b86f-f747-43eb-b085-02b7b81cd600/resourceGroups/ResourceGroup202402/providers/Microsoft.Web/sites/FunctionAppGE202402</ResourceId>
    <PublishUrl>https://functionappge202402.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>